<nav>
  <ul class="pagination">
    <!-- <li class="page-item" [ngClass]="{disabled:currentPage ===0}"> -->
    <li class="page-item" [appClass]="{disabled:currentPage ===0}">
      <a class="page-link" (click)="currentPage=currentPage-1">&laquo;</a>
    </li>
    <!-- <ng-container *ngFor="let image of images;let i = index"> -->
    <ng-container *appTimes="images.length;let i =index">
      <!-- <li [ngClass]="{active :i === currentPage}" class="page-item" *ngIf="CheckWindowIndex(i)"> -->
      <li [appClass]="{active :i === currentPage}" class="page-item" *ngIf="CheckWindowIndex(i)">
        <a class="page-link" (click)="currentPage=i">{{i+1}}</a>
      </li>
    </ng-container>
    <!-- <li class="page-item" [ngClass]="{disabled:currentPage === images.length-1}"> -->
    <li class="page-item" [appClass]="{disabled:currentPage === images.length-1}">
      <a class="page-link" (click)="currentPage=currentPage+1">&raquo;</a>
    </li>
  </ul>
</nav>

<div>
  <!-- <h4 appClass [backgroundColor]=" 'green' " [color]=" 'red' ">{{images[currentPage].title}}</h4> -->
  <!-- <h4 [appClass]=" 'red' ">{{images[currentPage].title}}</h4> -->
  <h4>{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url">
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current ngSwitch
  </div>
  <div *ngSwitchDefault="">
    Default ngSwitch
  </div>
</div>

<ul *appTimes="5">
  <li>
    Structural Directive
  </li>
</ul>